<h1> Listing all posts </h1>
<div>
  <%= button_to "New post", new_post_path ,method: :get%>
  <br></br>
</div>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
    </tr>
    <% @posts.each  do |post| %>
      <tr>
          <td><%= post.title %></td>
          <td><%= post.text %></td>
          <td>
            <%= link_to "show", post_path(post)%> <%= link_to "Edit", edit_post_path(post) %> <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "sure?"} %>
          </td>
     <% end %>
</table>
